---
// Components
import PageHead from "../components/Head/index.astro";
import Header from "../components/Header";

// // Constants
import { APP_NAME } from "../constants/app.js";

// Styles
import 'bootstrap/dist/css/bootstrap.css';

const { title } = Astro.props;
---
<html lang="en">
  <PageHead title={title} />
  <body>
    <Header title={APP_NAME} />
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>

<style lang='scss'>
    body {
        @apply flex flex-col min-h-screen bg-gray-100;
    }
</style>

<script type="text/javascript">
const header = document.querySelector("header");
const navigation = document.getElementById("navigation");

window.onscroll = function() {
  const topOffset = header.getBoundingClientRect().top + window.scrollY;

  if (topOffset > 1) {
    navigation.classList.add("nav-bg");
  } else {
    navigation.classList.remove("nav-bg");
  }
};
</script>