---
// Styles
import 'bootstrap/dist/css/bootstrap.css';

const { title } = Astro.props;
---
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/svg+xml" href="/assets/icons/favicon.ico">
    <title>{title}</title>
    <link rel="stylesheet" href="/style/global.css">
  </head>
  <body>
    <header></header>
    <main>
      <slot />
    </main>
    <footer></footer>
  </body>
</html>